<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ZingSoft Demo</title>

  <script nonce="undefined" src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <!-- <style>
    html,
    body,
    #myChart {
      height: 100%;
      width: 100%;
    }
  </style> -->
</head>

<body>
  <div id='myChart'></div>
  <script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    var myConfig8 = {
      "type": "gauge",
      "scale-r": {
        "aperture": 200,
        "values": "-100:100:10",
        "center": {
          "size": 5,
          "background-color": "#66CCFF #FFCCFF",
          "border-color": "none"
        },
        "ring": {
          "size": 10,
          "rules": [{
              "rule": "%v >= -100 && %v <= -90",
              "background-color": "#218A50"
            },
            {
              "rule": "%v >= -90 && %v <= -50",
              "background-color": "#21B865"
            },
            {
              "rule": "%v >= -50 && %v <= 0",
              "background-color": "#A2D466"
            },
            {
              "rule": "%v >= 0 && %v <= 50",
              "background-color": "#F2B450"
            },
            {
              "rule": "%v >= 50 && %v <= 90",
              "background-color": "#F0880A"
            },
            {
              "rule": "%v >= 90 && %v <= 100",
              "background-color": "#F01313"
            }
          ]
        },
        "labels": ["-100","","","","","","","","","","","","","","","","","","","100"], //Scale Labels
        "item": { //Scale Label Styling
          "font-color": "purple",
          "font-family": "Georgia, serif",
          "font-size": 12,
          "font-weight": "bold", //or "normal"
          "font-style": "normal", //or "italic"
          "offset-r": 0,
          "angle": "auto"
        }
      },
      "plot": {
        "csize": "5%",
        "size": "100%",
        "background-color": "#000000"
      },
      "series": [{
        "values": [0]//VALUE OF CUSTOM INDEX GOES HERE
      }]
    };

    zingchart.render({
      id: 'myChart',
      data: myConfig8,
      height: "100%",
      width: "100%"
    });
  </script>
</body>

</html>