<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Largest Municipalities in Puerto Rico</title>
</head>
<body>
 <div class="container">
   <canvas id="myChart"></canvas>
</div>

<script>

 let myChart = document.getElementById('myChart').getContext('2d');

 // Global Options
 Chart.defaults.global.defaultFontFamily = 'Lato';
 Chart.defaults.global.defaultFontsize = 18;
 Chart.defaults.global.defaultFontColor = '#777';


 let PrPopChart = new Chart(myChart, {
   type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
   data:{
     labels:{{labels | tojson}},
     datasets:[{
       label:'Closing Price',
       data:{{values | tojson}},

       // backgroundColor: 'green',
       backgroundColor:'#2ac7db',
       borderWidth:1,
       borderColor:'white',
       hoverBorderWidth: 3,
       hoverBorderColor: 'black'
     }]
   },
   options:{
     title:{
       display: true,
       text: 'Close vs Time',
       fontSize:25
     },
     legend:{
       display:true,
       position:'right',
       labels:{
         fontColor: '#000'
       }
     },
     layout:{
       padding:{
         left:50,
         right:0,
         bottom:0,
         top:0
       }
     },
     tooltips:{
       enabled:true
     }
   }
 });
</script>
</body>
</html>