<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Dashboard - Brand</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../stiatic/fonts/fontawesome5-overrides.min.css"
    />
    <link rel=stylesheet type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">
    <!-- <link rel="stylesheet" href="assets/css/untitled.css"> -->
  </head>

  <body id="page-top">
    <div id="wrapper">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">BBBootstrap</span> </a>
                    <div class="nav_list">  
                        <a href="/" class="nav_link"> <i class='bx bx-user nav_icon'></i> 
                            <span class="nav_name">Dashboard</span> </a> 
                        <a href="/preds" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> 
                            <span class="nav_name">Predictions</span> </a> 
                        <a href="/models" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Models</span> </a> 
                        <a href="/indicators" class="nav_link"> <i class='bx bx-folder nav_icon'></i> 
                            <span class="nav_name">Indicators</span> </a>  </div>
                </div>
            </nav>
        </div>
        <!--Container Main start-->
        <!-- <div class="height-100 bg-light">
            <h4>Main Components</h4>
        </div> -->
        <script>
                document.addEventListener("DOMContentLoaded", function(event) {

                const showNavbar = (toggleId, navId, bodyId, headerId) =>{
                const toggle = document.getElementById(toggleId),
                nav = document.getElementById(navId),
                bodypd = document.getElementById(bodyId),
                headerpd = document.getElementById(headerId)

                // Validate that all variables exist
                if(toggle && nav && bodypd && headerpd){
                toggle.addEventListener('click', ()=>{
                // show navbar
                nav.classList.toggle('show')
                // change icon
                toggle.classList.toggle('bx-x')
                // add padding to body
                bodypd.classList.toggle('body-pd')
                // add padding to header
                headerpd.classList.toggle('body-pd')
                })
                }
                }

                showNavbar('header-toggle','nav-bar','body-pd','header')

                /*===== LINK ACTIVE =====*/
                const linkColor = document.querySelectorAll('.nav_link')

                function colorLink(){
                if(linkColor){
                linkColor.forEach(l=> l.classList.remove('active'))
                this.classList.add('active')
                }
                }
                linkColor.forEach(l=> l.addEventListener('click', colorLink))

                // Your code to run since DOM is loaded and ready
                });

        </script>
      
        <!-- Nav -->


      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">

          <h3 class="text-dark mb-4" style="padding-left: 21px">Dashboard</h3>
          <div class="container-fluid">
            <div
              class="d-sm-flex justify-content-between align-items-center mb-4"
            >
              <!-- <a
                class="btn btn-primary btn-sm d-none d-sm-inline-block"
                role="button"
                href="#"
                ><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Upload
                CSV</a> -->

                <form action = '/visualize' enctype = "multipart/form-data" onsubmit=" return false;" >
                    <input id="file" type="file" name="static_file" />
                    <button class="btn btn-primary btn-sm d-none d-sm-inline-block" id="upload-button" onclick="uploadFile(this.form)"> Upload </button>
                    </form>
                  <div id="static_file_response"> </div>
                 
                  <script type="text/javascript" src="/static/app.js"></script>
                  </script>
              
            <!-- <a class="btn btn-default btn-lg" id="start" onclick="changeUploadStat()">Start!</a> -->

            <form action="" method="post">
                <button class="btn btn-primary btn-sm d-none d-sm-inline-block" name="foo" value="Do Something Man!"><i class="fas fa-download fa-sm text-white-50"></i
                    >&nbsp;Visualize</button>
                
            </form>


            


            </div>
            <div class="row">
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div
                          class="text-uppercase text-primary fw-bold text-xs mb-1"
                        >
                          <span>Current&nbsp;Price</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                          <span>$4.989</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div
                          class="text-uppercase text-success fw-bold text-xs mb-1"
                        >
                          <span>High</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                          <span>$5.0</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div
                          class="text-uppercase text-info fw-bold text-xs mb-1"
                        >
                          <span>Low</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                          <span>$4.5</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div
                          class="text-uppercase text-info fw-bold text-xs mb-1"
                        >
                          <span>Volume</span>
                        </div>
                        <div class="row g-0 align-items-center">
                          <div class="col-auto">
                            <div class="text-dark fw-bold h5 mb-0 me-3">
                              <span>$ 29 B</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-xl-8" style="width: 100%">
                <div class="card shadow mb-4">
                  <div
                    class="card-header d-flex justify-content-between align-items-center"
                  >
                    <h6 class="text-primary fw-bold m-0">
                      Natural Gas Historic Price Chart&nbsp;
                    </h6>
                    <div
                      class="btn-group"
                      role="group"
                      style="
                        font-size: 5px;
                        padding-right: 0px;
                        padding-left: 0px;
                        text-align: right;
                      "
                    >
                      <!-- <button
                        class="btn btn-primary"
                        type="button"
                        style="
                          font-size: 12px;
                          padding-top: 4.5px;
                          padding-right: 9px;
                          padding-bottom: 4.5px;
                          padding-left: 9px;
                        "
                      >
                        1d</button
                      ><button
                        class="btn btn-primary"
                        type="button"
                        style="
                          font-size: 12px;
                          padding-top: 4.5px;
                          padding-right: 9px;
                          padding-bottom: 4.5px;
                          padding-left: 9px;
                        "
                      >
                        1w</button
                      ><button
                        class="btn btn-primary"
                        type="button"
                        style="
                          font-size: 12px;
                          padding-top: 4.5px;
                          padding-right: 9px;
                          padding-bottom: 4.5px;
                          padding-left: 9px;
                        "
                      >
                        1m</button
                      ><button
                        class="btn btn-primary"
                        type="button"
                        style="
                          font-size: 12px;
                          padding-top: 4.5px;
                          padding-right: 9px;
                          padding-bottom: 4.5px;
                          padding-left: 9px;
                        "
                      >
                        3m</button
                      ><button
                        class="btn btn-primary"
                        type="button"
                        style="
                          font-size: 12px;
                          padding-top: 4.5px;
                          padding-right: 9px;
                          padding-bottom: 4.5px;
                          padding-left: 9px;
                        "
                      >
                        6m</button
                      > -->
                      
                     
                      <!-- <button
                        class="btn btn-primary"
                        type="submit" value="12msss"
                        style="
                          font-size: 12px;
                          padding-top: 4.5px;
                          padding-right: 9px;
                          padding-bottom: 4.5px;
                          padding-left: 9px;
                        "
                      >
                        12m
                      </button> -->

                      <form action="" method="post">
                        <button class="btn btn-primary" name="foox" value="1" style="
                        font-size: 12px;
                        padding-top: 4.5px;
                        padding-right: 9px;
                        padding-bottom: 4.5px;
                        padding-left: 9px;
                      ">&nbsp;1d</button>

                        <button class="btn btn-primary" name="foox" value="2" style="
                        font-size: 12px;
                        padding-top: 4.5px;
                        padding-right: 9px;
                        padding-bottom: 4.5px;
                        padding-left: 9px;
                        ">&nbsp;1w</button>

                        <button class="btn btn-primary" name="foox" value="3" style="
                                                font-size: 12px;
                                                padding-top: 4.5px;
                                                padding-right: 9px;
                                                padding-bottom: 4.5px;
                                                padding-left: 9px;
                                            ">&nbsp;1m</button>

                        <button class="btn btn-primary" name="foox" value="4" style="
                        font-size: 12px;
                        padding-top: 4.5px;
                        padding-right: 9px;
                        padding-bottom: 4.5px;
                        padding-left: 9px;
                        ">&nbsp;6m</button>

                        <button class="btn btn-primary" name="foox" value="5" style="
                                                font-size: 12px;
                                                padding-top: 4.5px;
                                                padding-right: 9px;
                                                padding-bottom: 4.5px;
                                                padding-left: 9px;
                                            ">&nbsp;12m</button>
                        
                     </form>
                    
                    </div>
                  </div>

                  <divclass="card-body">
                    <canvas id="myChart"></canvas>
                  </div>


                  <!-- <div class="card-body">
                    <div class="chart-area">
                      <canvas
                        data-bss-chart='{"type":"line","data":{"labels":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug"],"datasets":[{"label":"Earnings","fill":true,"data":["0","10000","5000","15000","10000","20000","15000","25000"],"backgroundColor":"rgba(78, 115, 223, 0.05)","borderColor":"rgba(78, 115, 223, 1)"}]},"options":{"maintainAspectRatio":false,"legend":{"display":false,"labels":{"fontStyle":"normal"}},"title":{"fontStyle":"normal"},"scales":{"xAxes":[{"gridLines":{"color":"rgb(234, 236, 244)","zeroLineColor":"rgb(234, 236, 244)","drawBorder":false,"drawTicks":false,"borderDash":["2"],"zeroLineBorderDash":["2"],"drawOnChartArea":false},"ticks":{"fontColor":"#858796","fontStyle":"normal","padding":20}}],"yAxes":[{"gridLines":{"color":"rgb(234, 236, 244)","zeroLineColor":"rgb(234, 236, 244)","drawBorder":false,"drawTicks":false,"borderDash":["2"],"zeroLineBorderDash":["2"]},"ticks":{"fontColor":"#858796","fontStyle":"normal","padding":20}}]}}}'
                      ></canvas>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-6 mb-4">
                    <div
                      class="card textwhite bg-primary text-white shadow"
                    ></div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div
                      class="card textwhite bg-warning text-white shadow"
                    ></div>
                  </div>
                  <div class="col" align="center">
                    <img src="../static/img/Guage.png" />
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div
                      class="card textwhite bg-danger text-white shadow"
                    ></div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div
                      class="card textwhite bg-secondary text-white shadow"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © Brand 2022</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script> -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  

    <script>

        let myChart = document.getElementById('myChart').getContext('2d');
       
        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontsize = 18;
        Chart.defaults.global.defaultFontColor = '#777';
       
       
        let PrPopChart = new Chart(myChart, {
          type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
          data:{
            labels:{{labels | tojson}},
            datasets:[{
              label:'Closing Price',
              data:{{values | tojson}},
       
              fill: false,
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.1
            //   // backgroundColor: 'green',
            //   backgroundColor:'#2ac7db',
            //   borderWidth:1,
            //   borderColor:'white',
            //   hoverBorderWidth: 3,
            //   hoverBorderColor: 'black'
            },
            {
              label:'Pred Price',
              data:{{values | tojson}},
       
              fill: false,
              borderColor: 'rgb(0, 0, 0)',
              tension: 0.1
            //   // backgroundColor: 'green',
            //   backgroundColor:'#2ac7db',
            //   borderWidth:1,
            //   borderColor:'white',
            //   hoverBorderWidth: 3,
            //   hoverBorderColor: 'black'
            },
        
        ]
          },
        //   options:{
        //     title:{
        //       display: true,
        //       text: 'Close vs Time',
        //       fontSize:25
        //     },
        //     legend:{
        //       display:true,
        //       position:'right',
        //       labels:{
        //         fontColor: '#000'
        //       }
        //     },
        //     layout:{
        //       padding:{
        //         left:50,
        //         right:0,
        //         bottom:0,
        //         top:0
        //       }
        //     },
        //     tooltips:{
        //       enabled:true
        //     }
        //   }
        });
       </script>



    </body>
</html>
